@import '../../assets/styles/index.scss';

$size: 160px;

.category {
    width: $size;
    height: $size;
    margin: 15px 0;
    margin-right: 30px;
    padding: 10px;
    background-color: $inactiveColor;
    border-radius: 8%;
    box-sizing: border-box;
    user-select: none;

    h1 {
        font-size: 1.5em;
        color: white;
    }

    .categoryLastActivity {
        margin: 2px;
        color: white;
        font-size: 0.9em;
    }

    .categoryPlanGroup {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;

        p {
            color: white;
            font-weight: 570;
        }
    }
}
