@import "./../../assets/styles/index.scss";

.todoGroup {
    display: flex;
    justify-content: center;
    width: 55%;
    margin: 20px;
    border-radius: 5px;

    .checkBoxThisTodo {
        width: 30px;
        height: 30px;
        margin-top: 18px;
        margin-right: 10px;
        transition: $defaultTime all ease;
    }

    .todoElement {
        display: flex;
        flex-direction: column;

        .todoMain, .todoNotes {
            width: 350px;
            padding: 6px;
            text-align: left;
            border-radius: 5px;
            background-color: $elementBackgroundColor;
            color: $defaultColorGrey;
            border: 1px solid $elementBorderColor;
            cursor: pointer;
            transition: $defaultTime all ease;
        }

        .todoMain {
            border-top-width: 7px;
            order: -1;
            float: right;
            
            .arrow {   
                    margin-right: 15px;
                    transition: $changeTime all ease;
                }
            .openedArrow { 
                transform: rotate(180deg);
            }

            .edit {
                font-size: 20px;
            }

            .remove { 
                float: right;
            }
        }

        .todoNotes {
            display: none;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            border-top: none;
        }

        .show {
            display: initial;
        }

        .todoMain:hover, .todoNotes:hover + .todoMain {
            border-top-color: $defaultColorBLue !important;
            background-color: $defaultColorBLue;
            color: white;
        }
    }
}