@import '../../assets/styles/index.scss';

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    place-items: center;
    background-color: #000000a1;
    backdrop-filter: blur(2px);
    z-index: 9999999999;
    transition: 0.1s all ease;

    .modalWindow {
        display: flex;
        flex-direction: column;
        margin: 8% auto;
        padding-top: 7px;
        padding-bottom: 7px;
        box-sizing: border-box;
        max-width: 650px;
        min-height: 150px;
        background-color: white;
        border-radius: 20px;
        border-top: 45px solid;
        border-top-color: $defaultColorBLue;

        .modalHeader {
            margin-top: -4px;
            margin-right: 2px;
            display: flex;
            justify-content: right;
        }

        h2 {
            text-align: center;
            align-items: center;
            margin: 0 auto;
            margin-top: -34px;
            user-select: none;
        }

        p {
            text-align: center;
            margin: 10px;
            user-select: none;
        }

        .buttons {
            display: flex;
            justify-content: right;
            margin-right: 12px;

            button {
                margin: 7px;
                transition: $defaultTime all ease; 
            }

     
        }
    }
}

.modalClosed {
    opacity: 0;
    visibility: hidden;
}