@import './assets/styles/index.scss';

::selection {
  background-color: $hoverDefaultColor;
  color: white;
}

html {
  min-height: 100vh;
  background-color: $mainBackgroundColor;

  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    main {
        display: flex;
        justify-content: flex-start;
        max-width: 1200px;
        min-height: 520px;
        margin: 35px auto;
    }
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
}
