@import './assets/styles/index.scss';


$sideBarWidth: 16%;
$mainActionPageWidth: 100% - $sideBarWidth;

::selection {
  background-color: $blueColor;
  color: white;
}

html {
  min-height: 100vh;
  background-color: $backgroundAppColor;

  body {
    margin: 0;
    font-family: 'Noto-Sans';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    .app {
      display: flex;
      justify-content: flex-start;
      box-sizing: border-box;

      .sidebar {
        display: flex;
        flex-direction: column;
        width: $sideBarWidth;
        height: 100vh;
        margin: 0;
        padding: 40px;
        border-right: 2px solid $borderSectionColor;
        background-color: white;
        box-sizing: border-box;
      }

      .mainActionPage {
        display: flex;
        flex-direction: column;
        width: $mainActionPageWidth;
        background-color: $backgroundMenuColor;

        header {
          width: 100%;
          height: 12%;
          margin: 0;
          padding: 40px;
          box-sizing: border-box;
        }

        main {
          width: 100%;
          height: 100%;
          margin: 0;
          padding: 40px;
          box-sizing: border-box;
        }
      }

    } 

  }

  code {
    font-family: 'consolas', consolas source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
}

.link, .linkActive {
  color: $inactiveColor;
  text-decoration: none;
  transition: all $changeTime ease-in-out;

  &:hover {
    color: black;
  }
}

.linkActive {
  color: $blackColor;

  &:focus {
    outline: none;
  }
}

