// Colors:
$defaultColorBLue: #4150B6;
$defaultColorGrey: #606060;
$colorInactive: #B1B1B1;
$colorSuccess: #44A965;
$colorError: #C85050;

// Blocks
$blockBackgroundColor: #E7E7E7;
$mainBackgroundColor: #EFEFEF;

// Elements
$elementBorderColor: #DEDEDE;
$elementBackgroundColor: #F0F0F0;

// Events
$hoverDefaultColor: #4150B6;
$selectedDefaultColor: #4150B6;

// Tags
$tagHomeColor: #50C878;
$tagWorkColor: #EB7168;
$tagStudyColor: #64C6E1;
