// Main colors
$inactiveColor: #AAAAAA;
$borderSectionColor: #F4F4F4;
$blackColor: #1B1B1B;
$blueColor: #556FD6;
$orangeAlertColor: #E49425;
$selectedColor: #3E9485;

// Hover colors

// Background colors
$backgroundAppColor: #F8F8F8;
$backgroundMenuColor: #FEFEFE;
$backgroundGroupColor: #F3F8F7;
$backgroundBlockColor: #F5F9FA;
$backgroundButtonColor: #E7F2F1;

