// Soin-Sans
@font-face {
    font-family: 'Soin-Sans';
    src: url('./../fonts/Soin-Sans.otf');
}

// Noto-Sans
@font-face {
    font-family: 'Noto-Sans';
    src: url('./../fonts/NotoSans-Regular.ttf');
}

@font-face {
    font-family: 'Noto-Sans-Bold';
    src: url('./../fonts/NotoSans-Bold.ttf');
}

// Consolas
@font-face {
    font-family: 'Consolas';
    src: url('./../fonts/consolas.ttf');
}

// Linea
@font-face {
    font-family: 'Linea';
    src: url('./../fonts/linea.ttf');
}
