@font-face {
    font-family: 'Soin-Sans';
    src: url('./../fonts/Soin-Sans.otf');
}

@font-face {
    font-family: 'Noto-Sans';
    src: url('./../fonts/NotoSans-Regular.ttf');
}

@font-face {
    font-family: 'consolas';
    src: url('./../fonts/consolas.ttf');
}

@font-face {
    font-family: 'linea';
    src: url('./../fonts/linea.ttf');
}
